.login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-left: 36%;
    color: rgb(255, 255, 255);
  }
  
  .login-container {
    border-radius: 16px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(255, 255, 255, 0.01); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.7px);
    -webkit-backdrop-filter: blur(0.7px);
    
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .login-input, .login-button {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: none; 
    border-bottom: 2px solid #ccc; 
    background: transparent; 
    outline: none; 
    font-size: 16px;
    transition: border-color 0.3s ease;
    color: #F23005;
  }
  
  .login-button {
    background-color: #F23005;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #F2B90C;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #F23005;
    color: rgb(255, 255, 255);
  }
  
  .register-link {
    background-color: none;
    font-size: 20px;
    color: rgb(255, 255, 255);;
  }

  .login-image img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container-fotoIA {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .login-wrapper {
      flex-direction: column; 
    }
  
    .login-container {
      margin: 20px;
      width: 60%; 
      height: auto;
    }
  
    .container-fotoIA {
      margin: 20px;
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .login-wrapper{
      padding: 0px;
      padding-top: 250px;
    }
    .login-container {
      padding: 20px;
      width: 80%; 
    }
  
    .login-container h2 {
      font-size: 20px; 
    }
  
    .login-input, .login-button {
      font-size: 14px; 
    }
  
    .login-image img {
      max-width: 100%;
    }
  }
  
  