/* Estilos para el menú lateral */
.navbar {
    color: white;
    position: fixed;
    top: 0;
    left: -330px; /* Escondido inicialmente */
    width: 330px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.943);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    transition: left 0.3s ease;
}

/* Mostrar menú cuando está abierto */
.navbar.open {
    left: 0;
}

.navbar img {
    height: 100px;
    max-height: 200px;
    width: auto;
    max-width: 330px;
    margin-bottom: 200px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    text-align: center;
}

/* Botón para abrir el menú */
.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    background: none;
    border: none;
    color: #F23005;
    font-size: 24px;
    cursor: pointer;
}

/* Estilo para el botón de inicio de sesión */
.elemet-navbar {
    background-color: #000000;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

.elemet-navbar:hover {
    background-color: #F23005;
}

/*Estilos }para boton de cerrar sesion*/
.close-session-navbar{
    background-color: #f40404;
    text-align: center;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.close-session-navbar:hover{
    background-color: #F23005;
}


/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .navbar a {
        font-size: 16px;
    }

    .navbar img {
        max-height: 100px;
    }

    .menu-toggle {
        font-size: 20px;
    }
}